
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    background:  #fff;
}
ul{
    list-style: none;
}
#logo{
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
a{
    text-decoration: none;
}
.image-container{
    width: 100%;
    height: 100%;
}
#content h1 {
    padding: 30px 0px;
}
#banner{
    min-height: 200px;
    width: 100%;
}
#content p{
    margin-bottom: 1.2rem;
}
.container{
    margin: 0px auto;
    max-width: 960px;   
}

#need {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}


@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}


.inner-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul#main-menu {
    display: flex;  
    z-index: 100;
}
header{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px double #f5f5f5; 
    padding: 10px 0px;
    transition: all 0.5s ease-in-out;
}
ul#main-menu a{
    text-transform: uppercase;
    padding:10px 20px;
    color: #fff;
    display:block;
    font-weight: bold;
    z-index: 100;
}
header.sticky{
    background: #fff;
    opacity: 0.9;
    padding: 15px 0px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    background-size: cover;
}
header.sticky #main-menu a {
    color: #000;
}
header.sticky #logo{
    color: #000;
}
.image-box-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;            
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;                   
    margin: 0 auto;                 
    max-width: 960px;               
}

.image-box {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0px 20px;
    position: relative;
}
.image-box2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
}

.image-box img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-box:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
.image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    padding: 10px;
    align-content: center;
    text-align: center;
}
#main-menu li{
    position: relative;
}
#main-menu ul.sub-menu{
    z-index: 100;
    position: absolute;
    background: #b3b4a979;
    padding: 15px 0px;
    list-style: none;
    width: 150px;
    display: none;
}
#main-menu li:hover ul.sub-menu{
    display: block;
    top: 100%;
    z-index: 1000;
}
#main-menu ul.sub-menu a{
    padding: 8px 15px;
    color: #000;
    z-index: 100;
}
#main-menu ul.sub-menu li:hover{
    border-bottom: 4px solid #a84646;
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width:0px;
    background: #a84646;
    position: absolute;
    bottom: 0px; 
    left: 0px;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
}
#main-menu>li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: #858585;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 18px 0px;
}
.back-btn {
    width: 100%;
    height: 80px;
    color: #fff;
    
    margin-bottom: 20px;
}

a .back {
    position: absolute;
    margin-top: 40px;
    margin-left: 80px;
    text-decoration: none;
    color: #000;
    font-size: 50px;
}

.get-start {
    margin-top: 90px;
}

.computer {
    height: 450px;
    width: 900px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.video-container {
    border: none;
    position: relative; 
  }
  
  video {
    /* width: 100%;
    height: auto; */
    border-radius  :4px ;
  }
  
  #myVideo::-webkit-media-controls {
    display: none;
  }
  
  .enter-and-submit {
    position: absolute;
    top: 40%; 
    left: 56%;
  }

  #passwordInput {
    position: absolute; 
    top: 40%; 
    left: 48%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    background-color: #fff;
    border-color: rgb(5, 232, 95);
    border-radius: 4px;
    height: 32px;
    width: 500px;
    font-size: 20px;
  }

  .btn-submit {
    position: absolute;
    margin-top: 45px;
    margin-left: -41px;
    height: 28px;
    width: 80px;
  }
  .play-btn button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    display: block;
}
.play-btn button:hover{
    cursor: pointer;
}
.enter-and-submit {
    position: absolute;
    top: 40%;
    left: 56%;
    display: none;
}

.img-container img{
    position: relative;
}

.ans-button {
    position: absolute;
    top: 60%; 
    left: 49%; 
    transform: translate(-50%, -50%); 
}

.ans-button .ans1 {
    margin-top: 178px;
    margin-right: 257px;
}

.ans-button .ans2 {
    margin-top: 178px;
    margin-left: 101px;
}

.ans-button button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #fff;

    font-size: 18px;
    font-weight: 600;
}

.ans-button button:hover {
    cursor: pointer;
    background-color: rgb(5, 232, 95);
    
}